body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 1.6;
    background-color: aliceblue;
    color: black;
}

header{
    background-color: #333;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

nav {
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        text-align: center;
        

        li {
            display: inline-block;
            margin: 0 15px;

            a {
                display: block;
                color: white;
                padding: 14px 20px;
                text-decoration: none;

                &:hover {
                    background-color: #111;
                }
            }
        }
    }
}

main{
    padding: 20px;
    background-color: white;
    margin: 20px auto;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 6px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}